/front-end/node_modules/
/back-end/config.js/
/back-end/node-project/node_modules/
/front-end/package-lock.json/
/back-end/package-lock.json/
/back-end/node-project/myKey.json
/back-end/node-project/bucket-iam-policy.json